@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Sipariş Oluşturma Başarılı!</h1>
        Sipariş Numaran : @Model <br /><br />
        <img src="~/img/product/2_591x709.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Siparişiniz Verildi! <br />
    </div>

</div> 